// Change the colors

@function set_text_color($color)
{
    @if (lightness($color) > 40){
        @return #000000;
    }
    @else{
        @return #ffffff;
    }
}
@function set_sec_color($color)
    {
        @if (lightness($color) > 40){
        @return #0000ff;
    }
        @else{
            @return #eece1a;
        }
    }
$primary_color: #00735e;
$secondary_color: set_sec_color($primary_color);
$third_color:  set_text_color($primary_color);
$portrait_img: url('../img/portrait_sm.png');
$home_img: url('../img/bg.jpg');
$opacity: 0.89;
$show_img: true;
@mixin EaseOut{
    transition: all 0.3s ease-out;
}
@mixin bg{
    @if $show_img{
        &#bg-img{
            background: $home_img;
            background-attachment: fixed;
            background-size: cover;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($primary_color, $opacity);
                z-index: -1;
            }
        }
    }
}

// Media query mixins
@mixin media_sm{
    @media screen and (min-width:300px) and (max-width: 500px){
        @content;
    }
}
@mixin media_md{
    @media screen and (min-width:501px) and (max-width: 768px){
        @content;
    }
}
@mixin media_lg{
    @media screen and (min-width: 769px) and (max-width: 1279){
        @content;
    }
}
@mixin media_xl{
    @media screen and (min-width: 1280px){
        @content;
    }
}
