$primary_color: #333;
$secondary_color: #fff;
* {
    box-sizing: border-box;
    }
body{
    background-color: $primary_color;
    color: $secondary_color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    }
// headings
h1,h2,h3{
    font-weight: 300;
    &.lg-heading{
        font-size: 3rem;
        }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.33rem 3rem;
        background-color: lighten($primary_color, 3);
    }
    }