$primary_color: #333;
$secondary_color: #fff;
* {
    box-sizing: border-box;
    }
body{
    background-color: $primary_color;
    color: $secondary_color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    }
// headings
